#animation {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    animation: bounce 2s alternate infinite ease-in-out;
  }
  
  @keyframes bounce {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(1500px);
    }
    100%{
        transform: translateX(-1500px);
    }
  }


  
  
#bodyDiv{
    text-align: center;
}

h1{
    color: green;
    text-align: center;
}